<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 <img width="300" alt="Angular Logo" src= "../assets/img/Student-Icon.png" >
</div>
<marquee><h2>Here are some links to help you start: </h2></marquee>
<h3>{{message}}</h3>
<h4>{{number}}</h4>
<h2>Num is coming from class  = {{num}}</h2>
<!-- below html table is for getting customer object here-->
<!--<div style="float:initial; color:maroon;">
  Customer Info
</div>

<table border="1">

    <tr>

      <td>name </td>

      <td>{{customer.name}}</td>

    </tr>

    <tr>

      <td>Email </td>

      <td>{{customer.email}}</td>

    </tr>

    <tr>

      <td>Age </td>

      <td>{{customer.age}}</td>

    </tr>

    <tr>

      <td>Married </td>

      <td>{{customer.married}}</td>

    </tr>
 </table>

-->
 <div style="float:initial;">
      <h3 style="color:red">Product List</h3>
  
  </div>
  
  <br/>   <br/>
  
    <table border="1" id="customers">
  
      <tr>
  
        <th>PID :</th>
  
        <th>Name</th>
  
        <th>Image</th>
  
        <th>Price</th>
  
        <th>Store</th>
  
        <th>Mfg</th>
  
        <th>Category</th>
        <th>Action</th>
  
      </tr>
  
     
  
    <tbody>
  
      <tr *ngFor="let product of productList">
  
        <td>&nbsp;{{product.pid}}</td>
  
        <td>&nbsp;{{product.name}}</td>
  
        <td>&nbsp;<img src="{{product.image}}" height="100px;"/></td>
        <td>&nbsp;{{product.price}}</td>
        <td>&nbsp;{{product.store}}</td>
        <td>&nbsp;{{product.mfg}}</td>
        <td>&nbsp;{{product.category}}</td>
        <td>&nbsp;
          <a href="javascript:" (click)="deleteProduct(product)">
            <img width="30" alt="Angular Logo" src="../assets/img/delete.jpeg" style="height: 40px;">
          </a>
    
      </td>
    
  
      </tr>
  
   
  
      
  
      </tbody>
  
    </table>
  
  

<app-footer> </app-footer>




